<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtica Scraper</title>
</head>
<body>

    <form action="/scrape" method="GET">

        <input type="submit" name="submit" value="Scrape"> 

    </form>
    
</body>
</html>