<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtica Scraper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <form action="/scrape" method="GET" id="mainForm">

        <input type="submit" name="submit" value="Scrape" id="sbm"> 

    </form>
    
</body>
</html>